@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

    *{
        margin:0px;
        padding: 0px;
    }
    html,body{
      
        min-height: 100vw;
    }
   
    header{
        color: white;
        background-color: black;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header h1{
         font-family: 'Passion One',sans-serif;
         padding-top: 40px;
         font-size: 9vw;
    } 
    header p{
        padding-bottom: 40px;
        font-weight: lighter;
    }
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover{
        text-decoration: underline;
        
    }
    section{
        padding: 10vh 30px ;
        
        line-height: 2em;
        font-family: "Sriracha", cursive;
        font-size: 3vw;
    }
   
   #fundo1{
       background-color: rgba(77, 255, 0, 0.116);

   }
   #fundo2{
    background-color: rgba(250, 235, 215, 0.586);

   }
    .estilo{
        background-color:white;
        box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.458);
        
    }
    section.estilo>p{
      
        color: white;
        background-color: rgba(0, 0, 0, 0.463);
        padding: 5px;
        width: 40vw;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.571);
    }
    #im1{
        background-image: url(/Desafios/d002/imagens/pexels-hala-o-2154057987-33062385\ \(1\).jpg);
        background-position: center  ;
        background-size: cover;
        background-attachment: fixed;
    
    }
    #im2{
        background-image: url(/Desafios/d002/imagens/background002.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
   
    footer{
        background-color: black;
        text-align: center;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
